h1 {
  font-weight: bold;
  text-align: center;
  border:solid 1px black;
  padding:5px;
}

p {
  margin: 50px 10px
}

span[data-tip]{
  border-bottom: 2px dotted #888;
  cursor: help;
}

[data-tip]{
  display: inline-block;
  position: relative;
}

[data-tip]:hover:before{
  content: attr(data-tip);
  position: absolute;
  padding: 0 8px;
  height: 28px;
  line-height: 28px;
  background-color: rgba(0, 0, 0, 0.8);
  left: -10px;
  top: -38px;
  font-size: 14px;
  border-radius: 3px;
  white-space: nowrap;
  color: #fff;
  font-size: 11px;
}

[data-tip]:hover:after {
  content: "";
  position: absolute;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: 0;
  top: -10px;
}
